fastapi
uvicorn[standard]
pydantic
SQLAlchemy
slack_sdk
alembic
python-dotenv # Explicitly listed, though also a sub-dependency of uvicorn[standard]
httpx # For making HTTP requests from service to service & testing FastAPI endpoints
psycopg2-binary>=2.9,<3.0

# Testing frameworks
pytest
pytest-cov
pytest-asyncio
respx # For mocking HTTP requests (alternative: pytest-httpx)

kubernetes
